<div class="page-header">
  <h1>Add an item to your booth</h1>
</div>

<form ng-submit="addItem()" name="form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Product Name" ng-model="name">
  </div>
  <div class="form-group">
    <input type="textarea" class="form-control" placeholder="Product Description" ng-model="description">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Price per unit - ex: 1.99" ng-model="price">
  </div>
  <div class="form-group">
    <label class="sr-only" for="image">Upload Product Image</label>
    <input type='file' ng-model='creativefile' base-sixty-four-input>
    <!-- <button ng-click='upload_file()'>Upload</button> -->
    <!-- <input type='file' ng-model='imagefile' ngf-select ngf-pattern="'image/*'" base-sixty-four-input>
    <button ng-click='uploadFile()'>Upload</button> -->
    <!-- <input type="file" class="button" ngf-select ng-model="imageFile" name="file" ngf-pattern="'image/*'"
    accept="image/*" base-sixty-four-input> -->
    <!-- <input ngf-select ng-model="image" name="image" ngf-pattern="'image/*'"
    accept="image/*" ngf-max-size="20MB" ngf-min-height="100"/> -->
  </div>
  <input type="submit" class="btn btn-default" ng-click="upload_file()" value="Submit">
</form>
