<!DOCTYPE html>
<html>
<head>
  <title>FarmCart</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="/assets/ng-file-upload/angular-file-upload.js?body=1"></script>
</head>
<body ng-app="farmCart">
  <div ng-include="'nav/_nav.html'"></div>
  <div class="container">
    <div class="col-md-12">
      <ui-view></ui-view>
    </div>
  </div>
</body>
</html>
